<p>It is really easy to setup {{ site.bot_name }}. Just follow these simple steps!</p>

<ol class="install-steps">
    <li>Invite the {{ site.bot_name }} bot using one of the methods below:
        <ul>
            <li>Install via this <b><a class="button is-small is-info" href="https://discord.com/oauth2/authorize?client_id={{ site.discord_client_id }}&integration_type=0" target="_blank">Discord app link</a></b></li>
            <b>OR</b>
            <li><a href="/discord">Join the TAG server</a> and install the bot.<br />Select the {{ site.bot_name }} account in the Discord and click on <code>Add To Server</code>:<br />
                <img src="{{ '/assets/botaccount.png' | relative_url }}" />
            </li>
        </ul>
    </li>
	<li>Give the newly invited {{ site.bot_name }} bot a server moderator role</li>
    <li><strong>IMPORTANT</strong>: Activate {{ site.bot_name }} by running <code class="language-plaintext highlighter-rouge">/scamguard setup</code> in your server!</li>
	<li>You are ready to start using {{ site.bot_name }}! Learn <a href="/usage">how to use {{ site.bot_name}}</a> here!</li>
</ol>
