---
---

:root {
  --primary: #333333;
  //--bulma-body-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --bulma-body-font-size: 1.03em;
}


@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

.navbar-item.is-active {
  background-color: rgba(0,0,0, 0.09);
}

.centered {display:block;text-align:center;margin-left:auto;margin-right:auto}

[x-cloak] { display: none !important; }
